{% extends 'base.html' %}
{% block title %}Editing {{tag.name}}{% endblock %}

{% block content %}
<h1 class="text-center"> Edit {{tag.name}}</h1>

<form action="" method="POST">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" name="name" value="{{tag.name}}" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Edit
        </button>

    </div>

</form>
<a href="/tags" class="btn btn-info">Cancel</a>


{% endblock %}