{% extends 'base.html' %}
{% block title %}{{tag.name}} Tag{% endblock %}

{% block content %}
<h1 class="text-center">{{tag.name}}</h1>
<ul>
    {% for post in tag.posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}

</ul>
<div class="row">
    <form class="col-1" action="/tags/{{tag.id}}/edit">
        <button class="btn btn-success ">Edit</button>
    </form>
    <form class="col-1" action="/tags/{{tag.id}}/delete" method="POST">

        <button class="btn btn-danger ">Delete</button>
    </form>
    <p class="col-2"><a class="btn btn-primary" href="/tags">Go Back</a></p>
</div>
{% endblock %}