{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content %}
<h1 class="text-center"></h1>


<h1>Create post</h1>

<form action="" method="POST">



    <div class="form-group">
        <label for="title">Title <span class="require">*</span></label>
        <input type="text" class="form-control" name="title" />
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea rows="5" class="form-control" name="content"></textarea>
    </div>

    <div class="form-group">
        <p><span class="require">*</span> - required fields</p>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Create
        </button>

    </div>

    {% for tag in tags %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="tag_{{tag.id}}" name="tags" type="checkbox" value="{{tag.id}}">
        <label class="form-check-label" for="tag_{{tag.id}}">{{tag.name}}</label>
    </div>
    {% endfor %}

</form>
<a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
</div>

</div>
</div>
{% endblock %}