{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}

<h1>{{post.title}}</h1>
<div>
    <h6>By: {{post.user.first_name}}</h6>
    <small>{{post.created_at}}</small>
</div>
<div>
    <p>{{post.content}}</p>
</div>
<div>
    {% if post.tags %}

    <b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}"><i class="btn btn-outline-info p-1">{{ tag.name }}</i></a>
    {% endfor %}

    {% endif %}
</div>
<div class="row">
    <div class="col-1">
        <a class="btn  btn-info m-3" href="/users/{{post.user.id}}">Back</a>
    </div>
    <form class="col-1" action="/posts/{{post.id}}/delete" method="POST">

        <button class="btn btn-danger m-3">Delete</button>
    </form>
    <form class="col-1" action="/posts/{{post.id}}/edit">
        <button class="btn btn-success m-3">Edit</button>
    </form>

</div>
{% endblock %}