{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}

<h1>{{post.title}}</h1>
<div class="form-group">
    <h6>By: {{post.user.first_name}}</h6>
    <small>{{post.created_at}}</small>
</div>
<div class="form-group">
    <p>{{post.content}}</p>
</div>

<div class="row">

    <a class="col-1 btn  btn-info" href="/users/{{post.user.id}}">Back</a>

    <form class="col-1" action="/posts/{{post.id}}/delete" method="POST">

        <button class="btn btn-danger m-3">Delete</button>
    </form>
    <form class="col-1" action="/posts/{{post.id}}/edit">
        <button class="btn btn-success m-3">Edit</button>
    </form>

</div>
{% endblock %}