{% extends 'base.html' %}
{% block title %}{{user.first_name}}{% endblock %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}</h1>
<div>
    <div class="row">

        <img src="{{ user.image_url }}" class="img-thumbnail profilepic">


        <form class="col-1" action="/users/{{user.id}}/edit">
            <button class="btn btn-success ">Edit</button>
        </form>
        <form class="col-1" action="/users/{{user.id}}/delete" method="POST">

            <button class="btn btn-danger ">Delete</button>
        </form>

    </div>
    <h2>Posts</h2>
    <ul class="col-3">
        {% for post in user.posts %}
        <li>
            <a href="/posts/{{ post.id}}">{{ post.title }}</a>
            <small>{{ post.created_at}}</small>
        </li>
        {% endfor %}
        <form action="/users/{{user.id}}/posts/new">
            <button class="btn btn-info m-3">Add a post!</button>
        </form>
    </ul>



</div>






<a href="/" class="col">Go Back</a>

{% endblock %}