{% extends 'base.html' %}
{% block title %}{{user.first_name}}{% endblock %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}</h1>
<div class=row>
    <div class="col-6">

        <img src="{{ user.image_url }}" class="img-thumbnail profilepic">

    </div>

    <ul class="col-3">

        <li>First Name:{{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>

    </ul>


</div>
<div class="row">
    <form action="/users/{{user.id}}/delete" method="POST">

        <button class="btn btn-danger m-3">Delete</button>
    </form>
    <form action="/users/{{user.id}}/edit">
        <button class="btn btn-success m-3">Edit</button>
    </form>
</div>
<!-- <h2>Posts by user</h2> -->




<a href="/" class="col">Go Back</a>

{% endblock %}